header{
 background-color: rgb(71, 70, 70); 
}

body{
text-align: center;
}
img{
    margin-bottom:30px;
    margin-top:30px;
    margin-left:25px;;
    background-color:black;
}

nav ul li  {
display: inline-block;
vertical-align: middle;
margin-right:85px;
font-size:large;
color: lightgray;
}

div {
    float:right;
    text-align:left;
    width: 480px;
    height: 400px;
    display: inline;
    margin-bottom:20px;
    
}
div h2{
    margin-bottom :10px;
    margin-left:25px;
    font-style:initial;
    font-size: x-large;
    font-family: Georgia;

}
div p{
    margin-bottom:50px;
    margin-left:25px;
    font-size:medium ;
    font-style: italic;
    font-family: Tahoma, sans-serif;
    overflow: scroll;
    line-height:20px;
    padding:50px;
    height:180px;
}
section ul li {
    display: inline-block;
}
button:hover{
    color:darkcyan;
    background-color:white;
}
button{
color:lightgray;
background-color: black;
transition: 350ms;
font-size: large;
margin-left: 25px;
}
footer{
    background-color:rgb(71, 70, 70);
    height:200px;
    margin-top:20px;
}